.main-content{
    position: absolute;
    left: 250px;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    background: white;
    padding: 40px;
    transition: all 0.2s ease-in-out;

    &.sidebar-mini{
        left: 70px;
    }
}