<div class="main-navbar">
  <div class="main-navbar-header">
    <div class="main-navbar-header-toggle" (click)="eventChangeSidebar.emit()">
      <div
        class="main-navbar-header-toggle-icon"
        [ngClass]="sidebarMini && 'sidebar-mini'"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <span class="main-navbar-header-title">
      <!-- <i class="fa fa-skyatlas"></i> -->
      Angular Application
    </span>
  </div>
  <div class="main-navbar-section">
    <div class="main-navbar-section-actions">
      <span class="main-navbar-section-actions-user">brunobozz</span>
      <i class="fa fa-user-circle"></i>
    </div>
  </div>
</div>
