<app-content-header icone="fa fa-users" title="User List"></app-content-header>

<table class="table table-striped align-middle table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">CPF</th>
      <th scope="col">Perfil</th>
      <th scope="col">Senha</th>
      <th scope="col" class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{ user.nome }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.cpf }}</td>
      <td>{{ user.perfil }}</td>
      <td>{{ user.senha }}</td>
      <td class="text-end">
        <button class="btn btn-primary btn-sm m-2 mt-0 mb-0">
          <i class="fa fa-key"></i>
        </button>
        <button
          class="btn btn-primary btn-sm ml-1"
          (click)="userExclude(user.id)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- <p>Tem certeza que deseja excluir o usuário {{ userName }}?</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <i class="fa fa-trash"></i> Excluir
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          data-bs-dismiss="modal"
        >
          <i class="fa fa-times"></i>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
