@import "../../../../scss/variables";

.content-header {
  border-bottom: 1px solid $cor-primaria;
  color: $cor-primaria;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-size: 36px;
  i {
    padding-right: 20px;
  }
  span {
    font-weight: bold;
  }
}
